# Node modules
node_modules/

# Build output
build/
dist/

# dotenv environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.log
coverage/
